numpy==1.16.4
Pillow==9.0.0
openslide-python==1.1.1
scikit-image==0.14.2
scikit-learn==0.21.3
opencv-python==3.4.4.19
shapely==1.6.4
pydaily==0.4.0
pycontour==1.4.0
numba==0.45.1
pyslide==0.4.1
google-cloud==0.34.0
google-cloud-vision==0.39.0
